{% extends 'base.html' %}

{% block header %}
<nav>
    <ul class="pager">
        {% if paginator.has_prev %}
            <li><a href="/pagination/{{paginator.prev_num}}">Previous</a></li>
        {% else %}
            <li class="disabled">Previous</li>
        {% endif %}
        {% if paginator.has_next %}
            <li><a href="/pagination/{{paginator.next_num}}">Next</a></li>
        {% else %}
            <li class="disabled">Next</li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block container %}
<div class="top-pad">
    {% for book in paginator.items %}
    <div class="well">
        <!--<a href="/book/{{ book['id'] }}"><img src="{{ book['image'] }}"/></a>-->
        <a href="/book/{{ book['id'] }}"><h4>{{ book['title'] }}</h4></a>
        <!--<p><b>ID</b>: {{ book['id'] }}</p>-->
        <!--<p><b>ISBN</b>: {{ book['isbn'] }}</p>-->
        <p><b>Book Description</b>: {{ book['description'] }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
<nav>
    <ul class="pager">
        {% if paginator.has_prev %}
            <li><a href="/pagination/{{paginator.prev_num}}">Previous</a></li>
        {% else %}
            <li class="disabled">Previous</li>
        {% endif %}
        {% if paginator.has_next %}
            <li><a href="/pagination/{{paginator.next_num}}">Next</a></li>
        {% else %}
            <li class="disabled">Next</li>
        {% endif %}
    </ul>
</nav>
{% endblock %}